#landing-container {
  @include main-content-style();
}

// #scroll-text-container {
 
// }

.landing-text {
  text-align: justify;
  font-size: 40px;
  font-family: $content-font;
  color: $header-font-color;
}

.right-justify {
  text-align: right;
}


