#landing-container {
  position: absolute;
  left: 210px;
  top: 150px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  transform-origin: 50% 70%;
  transform: perspective(400px) rotateX(20deg);
  width: 70%;
}

#scroll-text-container {
  animation: scroll 120s linear infinite;
  position: absolute;
}

.landing-text {
  text-align: justify;
  font-size: 50px;
  font-family: $content-font;
  color: $header-font-color;
}

.right-justify {
  text-align: right;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}

@media (max-width: 1100px) {
    #landing-container {
    position: absolute;
    left: 150px;
    top: 200px;
  }
}

@media (max-width: 800px) {
    #landing-container {
    position: absolute;
    left: 50px;
    top: 200px;
    width: 80%;
  }

  .landing-text {
    font-size: 40px;
  }
}

@media (max-width: 520px) {
    #landing-container {
    position: absolute;
    left: 50px;
    top: 380px;
    height: 300px;
  }

  .landing-text {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
    #landing-container {
    position: absolute;
    left: 30px;
    top: 400px;
    height: 200px;
  }

  .landing-text {
    font-size: 30px;
  }
}

