*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}