*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/stars-background2.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  background-color: black;
}

h1 {
  margin-bottom: 0;
  font-family: $star-wars-font;
  font-size: 60px;
  color: $header-font-color;
  text-align: center;
}

h2 {
  font-family: $content-font;
  color: $header-font-color;
  text-align: center;
}

.control-button,
#show-button {
  box-shadow: 2px 2px 10px black;
  font-size: 20px;
  font-weight: 800;
  font-family: $content-font;
  text-transform: uppercase;
  border-radius: 5px;
  background: radial-gradient(#fcd800, #f7b600);
  padding: 10px;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover:enabled {
    background: radial-gradient(gold, aqua);
  }
}

.no-cards-container {
  margin-top: 40px;
}

.no-cards-text {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.star-wars-images {
  display: block;
  margin: 10px auto;
  height: 250px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 40px;
  }
}