.card {
  background-color: white;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
}

.favorite-icon {
  border: 1px solid hotpink;
}

.card-icon {
  border: 1px solid hotpink;
  width: 50px;
  height: 50px;
}

h3 {

}

p {

}