.card {
  background-color: white;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
}

.favorite-icon {
  border: 1px solid hotpink;
  width: 30px;
  height: 30px;
}

.card-icon {
  border: 1px solid hotpink;
  width: 100px;
  height: 100px;
}