#button-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 10px auto;
}

button {
  font-size: 20px;
  font-family: $content-font;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 10px;
  border: none;

  &:hover {
    background-color: $header-font-color;
  }

}

.active {
  background-color: purple;
}