#button-container {
  width: 77.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 20px 40px;
  margin: 10px auto;
}

.active {
  background: radial-gradient(lightblue, aqua);
}